body {
  font-family: sans-serif;
}

<style > table {
  width: 100%;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.iconHoverClass a {
  visibility: hidden;
}

.iconHoverClass:hover a {
  visibility: visible;
  color: coral;
}
.showSortIcon a {
  visibility: visible !important;
}

th,
td {
  padding: 15px;
  text-align: left;
}

table#t01 tr:nth-child(even) {
  background-color: #eee;
}

.thSpan {
  float: left;
  width: 80%;
}

.thLink {
  float: right;
  width: 10%;
}

table#t01 tr:nth-child(odd) {
  background-color: #fff;
}

table#t01 th {
  background-color: black;
  color: white;
}

.footerClass {
  text-align: right;
}

.blueLink {
  color: blue;
}

.disableLink {
  color: grey;
}

.resultsDiv {
  float: left;
}
